@import '/node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: $bgColor;
  font-family: $fontFamily;
  font-weight: $mainFontWeight;
  scroll-behavior: smooth;
}

a,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

.navigation {
  @include font($secondFontWeight, 28px, normal, null);
  color: $bgColor;
}

.about__paragraph {
  color: $secondBlackColor;
  @include font($secondFontWeight, 16px, normal, null);
}

.social-list {
  display: flex;
  gap: 32px;
}

.no-scroll {
  overflow: hidden;
}

.to-top {
  @include flex(none, center, center);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid $accentColor;
  fill: $accentColor;

  position: fixed;
  z-index: 2;
  bottom: 10px;
  right: 10px;
  transform: rotate(-90deg);
  @include mq(tablet) {
    bottom: 15px;
    right: 15px;
  }
  @include mq(desktop) {
    bottom: 20px;
    right: 20px;
  }
  &:focus,
  &:hover {
    fill: $bgColor;
    border-color: $bgColor;
  }
}

.disabled {
  pointer-events: none;
}
