@import '/node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: $bgColor;
  font-family: $fontFamily;
  font-weight: $mainFontWeight;
  scroll-behavior: smooth;
}

a,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

.navigation {
  @include font($secondFontWeight, 28px, normal, null);
  color: $bgColor;
}

.about__paragraph {
  color: $secondBlackColor;
  @include font($secondFontWeight, 16px, normal, null);
}

.social-list {
  display: flex;
  gap: 32px;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
}
