$bgColor: #f7fbfb;
$accentColor: #5b86a1;
$mainBlackColor: #1b1d1b;
$secondBlackColor: #202321;
$inactiveColor: #a3a5a3;
$duration: 300ms;
$function: cubic-bezier(0.4, 0, 0.2, 1);
$fontFamily: 'Montserrat', sans-serif;
$mainFontWeight: 500;
$secondFontWeight: 400;
$thirdFontWeight: 600;
