button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @include flex(flex, center, center);
  color: $bgColor;
  cursor: pointer;
  transition: color, background-color, fill, stroke, border-color, $duration $function;
}

.button {
  background-color: $accentColor;
  padding: 16.5px 0;
  padding-inline: 24.3vw;
  text-transform: uppercase;
  @include font(inherit, null, normal, null);
  font-size: 4vw;
  margin-inline: auto;
  @include mq(afterMobile) {
    padding-inline: 91px;
    font-size: 16px;
  }
  @include mq(tablet) {
    font-size: 20px;
  }
  @include mq(desktop) {
    font-size: 24px;
  }
}

.header__button {
  stroke: $bgColor;
  &:focus,
  &:hover {
    stroke: $accentColor;
  }
  @include mq(desktop) {
    display: none;
  }
}

.hero__button {
  @include mq(tablet) {
    padding: 16px 123px;
  }
  @include mq(desktop) {
    padding: 20px 199px;
  }
}

.modal__tour__button {
  margin-top: 16px;
  @include mq(tablet) {
    margin-top: 24px;
    padding: 16px 123px;
  }
  @include mq(desktop) {
    margin-top: 28px;
    padding: 20px 199px;
  }
}

.tour__button,
.questions__button {
  padding-inline: 0;
  width: 100%;
}

.modal__call-me__button {
  position: absolute;
  top: 12px;
  right: 12px;
  stroke: $secondBlackColor;
  @include mq(tablet) {
    top: 20px;
    right: 20px;
  }
}

.modal__button {
  position: absolute;
  top: 12px;
  right: 42px;
  stroke: $bgColor;
  z-index: 2;
  @include mq(tablet) {
    top: 20px;
    right: 50px;
  }
  @include mq(desktop) {
    top: 40px;
    right: 175px;
  }
}

.hero__button:hover,
.hero__button:focus,
.modal__tour__button:hover,
.modal__tour__button:focus,
.tour__button:hover,
.tour__button:focus,
.questions__button:hover,
.questions__button:focus {
  background-color: $mainBlackColor;
}
