.container {
  width: 100%;
  padding-inline: 32px;
  margin-inline: auto;

  @include mq(mobile) {
    width: 375px;
  }

  @include mq(tablet) {
    width: 786px;
    padding-inline: 20px;
  }

  @include mq(desktop) {
    width: 1440px;
    padding-inline: 135px;
  }
}

.advantages .container {
  padding-inline: 30px;
}

.tours .container,
.gallery .container {
  padding-inline: 0;
}

.footer .container {
  padding-inline: 44px;
}
