.container {
  width: 100%;
  padding-inline: 32px;
  margin: 0px auto;

  @include mq(mobile) {
    width: 375px;
  }

  @include mq(tablet) {
    width: 768px;
    padding-inline: 20px;
  }

  @include mq(desktop) {
    width: 1440px;
    padding-inline: 135px;
  }
}

.advantages .container {
  @include mq(mobile-only) {
    padding-inline: 30px;
  }
}

.tours .container,
.gallery .container {
  @include mq(mobile-only) {
    padding-inline: 0;
  }
}

.footer .container {
  padding: 40px 44px;
  @include mq(tablet) {
    padding: 64px 72px;
  }
}
