.title {
  text-align: center;
  color: $mainBlackColor;
  @include font($secondFontWeight, 32px, normal, null);
  margin-bottom: 28px;
  @include mq(tablet) {
    font-size: 52px;
    margin-bottom: 40px;
  }
  @include mq(desktop) {
    font-size: 68px;
    margin-bottom: 60px;
  }
}

.hero__title {
  text-transform: uppercase;
  color: $bgColor;
  @include font($secondFontWeight, null, normal, null);
  font-size: 10vw;
  margin-bottom: 60px;
  margin-inline: auto;
  @include mq(afterMobile) {
    font-size: 40px;
  }
  @include mq(tablet-only) {
    display: flex;
    flex-direction: column;
    font-size: 68px;
    margin-bottom: 40px;
  }
  @include mq(desktop) {
    font-size: 88px;
    margin-bottom: 40px;
  }
}

.questions__title {
  text-align: center;
  @include font(inherit, 20px, normal, null);
  margin-bottom: 20px;
  @include mq(tablet) {
    font-size: 32px;
    margin-bottom: 24px;
    padding-inline: 70px;
  }
  @include mq(desktop) {
    font-size: 48px;
    margin-bottom: 32px;
    padding: 0;
  }
}

.tour__title {
  text-align: left;
  @include font($thirdFontWeight, 20px, normal, null);
  margin-bottom: 16px;
  @include mq(tablet) {
    font-size: 24px;
  }
}

.footer__title {
  color: $bgColor;
  @include mq(tablet) {
    font-size: 32px;
    grid-area: title;
  }
  @include mq(desktop) {
    font-size: 60px;
    grid-area: title;
  }
}

.modal__call-me__title {
  @include font($secondFontWeight, 24px, normal, null);
  margin-bottom: 20px;
  @include mq(tablet) {
    font-size: 32px;
    margin-bottom: 24px;
  }
  @include mq(desktop) {
    font-size: 60px;
    margin-bottom: 28px;
  }
}
