.header {
  position: absolute;
  width: 100%;
  top: 20px;

  &__navigation {
    @include flex(flex, space-between, center);
  }
}

.hero {
  padding: 188px 0px 193px;
  background: url('/src/images/hero_bg_1x.jpg') no-repeat center;
  background-size: cover;
  @include mq(retina) {
    background: url('/src/images/hero_bg_2x.jpg') no-repeat center;
    background-size: cover;
  }
  @include mq(afterMobile) {
    background-position: center;
    width: 375px;
    margin-inline: auto;
  }

  &__paragraph {
    @include font(inherit, 16px, normal, null);
    text-align: center;
    margin-bottom: 88px;
    color: $bgColor;
  }
}

.mobile-menu {
  position: absolute;
  top: -20px;
  width: 233px;
  height: 100vh;
  padding: 132px 0 0 32px;
  background-color: rgba(32, 35, 33, 0.7);
  transform: translateX(-233px);
  transition: transform $duration $function;

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 64px;
  }

  &__social-list {
    flex-direction: column;
  }
}

.is-open {
  transform: translateX(0);
}
