.header {
  position: absolute;
  width: 100%;
  top: 20px;

  &__navigation {
    @include flex(flex, space-between, center);
  }

  &__link {
    transform: translateX(0);
    transition: transform $duration $function;
  }

  &__logo {
    width: 40px;
    height: 40px;
    @include mq(tablet) {
      width: 60px;
      height: 60px;
    }
  }
}

.nav__link__wrapper {
  display: flex;
  gap: 80px;
  @include font(inherit, 24px, normal, null);
  @include mq(notDesktop) {
    display: none;
  }
}

.nav__link {
  position: relative;
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.nav__link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background-color: $accentColor;
  transform: scaleX(0);
  transition: transform $duration $function;
}

.hero {
  padding-top: 188px;
  height: 100vh;
  background: url('/src/images/hero_bg_1x.jpg') $secondBlackColor no-repeat center;
  background-size: cover;
  @include mq(retina) {
    background: url('/src/images/hero_bg_2x.jpg') $secondBlackColor no-repeat center;
    background-size: cover;
  }
  @include mq(tablet) {
    padding-top: 180px;
    background: url('/src/images/hero_bg_t_1x.jpg') $secondBlackColor no-repeat center;
    background-size: cover;
    @include mq(retina) {
      background: url('/src/images/hero_bg_t_2x.jpg') $secondBlackColor no-repeat center;
      background-size: cover;
    }
  }

  @include mq(desktop) {
    padding-top: 280px;
    background: url('/src/images/hero_bg_1440_1x.jpg') $secondBlackColor no-repeat center;
    background-size: cover;
    @include mq(retina) {
      background: url('/src/images/hero_bg_1440_2x.jpg') $secondBlackColor no-repeat center;
      background-size: cover;
    }
  }

  &__paragraph {
    @include font(inherit, 16px, normal, null);
    text-align: center;
    margin-bottom: 88px;
    color: $bgColor;
    @include mq(tablet) {
      font-size: 20px;
    }
    @include mq(desktop) {
      font-size: 28px;
      margin-bottom: 60px;
    }
  }

  &__container {
    @include mq(desktop) {
      position: relative;
    }
  }

  &__social-list {
    position: absolute;
    flex-direction: column;
    bottom: -102px;
    right: 135px;
    @include mq(notDesktop) {
      display: none;
    }
  }
}

.mobile-menu {
  position: absolute;
  top: -20px;
  width: 233px;
  height: 100vh;
  padding: 16.75vh 0 0 32px;
  background-color: rgba(32, 35, 33, 0.7);
  transform: translateX(-100vw);
  transition: transform $duration $function;
  @include mq(tablet) {
    width: 374px;
    padding: 184px 0 0 82px;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 3.8vh;
    margin-bottom: 8.15vh;
    @include mq(tablet) {
      gap: 40px;
      margin-bottom: 80px;
    }
  }

  &__social-list {
    @include mq(mobile-only) {
      flex-direction: column;
    }
  }
}

.is-open {
  transform: translateX(0);
}

.hidden {
  opacity: 0;
}
