.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(32, 35, 33, 0.5);
  top: 0;
  left: 0;
  @include flex(flex, center, null);
  &--padding {
    padding: 140px 0px 143px;
    @include mq(tablet) {
      padding: 116px 0px 121px;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.modal {
  position: absolute;
  background-color: $bgColor;
  transition: transform $duration $function;

  &__close-icon {
    width: 30px;
    height: 30px;
    @include mq(tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &__call-me {
    padding: 52px null 36px;
    transform: translateY(-100%);

    @include mq(tablet) {
      width: 478px;
      height: 581px;
      padding: 60px 42px 40px;
    }
  }

  &__tour {
    padding: 0px 30px 28px;
    transform: translateX(-100%);
    @include flex(none, space-between, null);
    flex-direction: column;
    gap: 28px;
    height: 100vh;
    width: 100%;
    color: $bgColor;
    @include mq(tablet) {
      padding-bottom: 40px;
      gap: 40px;
    }
    @include mq(desktop) {
      padding: 0px 135px 60px;
      gap: 48px;
    }

    &.open {
      display: flex;
      transform: translateX(0%);
    }
  }
}

.call-me__form {
  display: flex;
  flex-direction: column;
  &__label {
    position: relative;
    margin-bottom: 28px;
    @include flex(flex, start, center);
    gap: 33px;
    @include mq(tablet) {
      margin-bottom: 32px;
    }
  }
  &__check::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: $bgColor;
    border: 1px solid;
  }

  &__check:checked + .check__icon {
    stroke: $secondBlackColor;
  }
}

.check__icon {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  stroke: $bgColor;
  fill: $bgColor;
  transition: stroke $duration $function;
}

.modal__tour__list {
  height: 100%;
}

.modal__tour__item {
  padding-top: 90px;
  height: 100%;
  @include mq(tablet) {
    padding-top: 101px;
  }
  @include mq(desktop) {
    padding-top: 169px;
  }
}

.modal__tour__item--hoverla {
  &:nth-child(1) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/hoverla1_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/hoverla1_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/hoverla1_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/hoverla1_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/hoverla1_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/hoverla1_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }

  &:nth-child(2) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/hoverla2_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/hoverla2_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/hoverla2_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/hoverla2_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/hoverla2_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/hoverla2_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }

  &:nth-child(3) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/hoverla3_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/hoverla3_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/hoverla3_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/hoverla3_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/hoverla3_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/hoverla3_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }
}

.modal__tour__item--bukovel {
  &:nth-child(1) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/bukovel1_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/bukovel1_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/bukovel1_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/bukovel1_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/bukovel1_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/bukovel1_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }

  &:nth-child(2) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/bukovel2_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/bukovel2_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/bukovel2_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/bukovel2_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/bukovel2_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/bukovel2_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }

  &:nth-child(3) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/bukovel3_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/bukovel3_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/bukovel3_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/bukovel3_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/bukovel3_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/bukovel3_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }

  &:nth-child(4) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/bukovel4_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/bukovel4_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/bukovel4_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/bukovel4_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/bukovel4_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/bukovel4_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }
}
.modal__tour__item--carpathians {
  &:nth-child(1) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/carpathians1_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians1_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians1_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians1_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians1_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians1_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }

  &:nth-child(2) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/carpathians2_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians2_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians2_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians2_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians2_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians2_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }

  &:nth-child(3) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/carpathians3_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians3_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians3_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians3_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians3_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians3_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }

  &:nth-child(4) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/carpathians4_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians4_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians4_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians4_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians4_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians4_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }

  &:nth-child(5) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/carpathians5_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians5_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians5_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians5_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians5_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians5_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }

  &:nth-child(6) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/carpathians6_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians6_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians6_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians6_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians6_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians6_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }

  &:nth-child(7) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      url(/src/images/carpathians7_1x.jpg) no-repeat top center;
    background-size: cover;
    @include mq(retina) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians7_2x.jpg) no-repeat top center;
      background-size: cover;
    }
    @include mq(tablet) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians7_t_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians7_t_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
    @include mq(desktop) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/src/images/carpathians7_d_1x.jpg) no-repeat top center;
      background-size: cover;
      @include mq(retina) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
          url(/src/images/carpathians7_d_2x.jpg) no-repeat top center;
        background-size: cover;
      }
    }
  }
}

.modal__tour__title {
  position: absolute;
  @include font($thirdFontWeight, 18px, null, normal);
  top: 56px;
  left: 78px;
  z-index: 2;
  @include mq(tablet) {
    font-size: 24px;
    top: 60px;
    left: 90px;
  }
  @include mq(desktop) {
    font-size: 40px;
    top: 108px;
    left: 235px;
  }
}

.wrapper-title {
  background-color: $accentColor;
  margin-bottom: 12px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 37px;
  @include mq(tablet) {
    margin-right: 365px;
    margin-bottom: 16px;
  }
  @include mq(desktop) {
    margin-right: 630px;
  }
}

.title-day {
  padding: 14px 0px 14px 48px;
  @include font(inherit, 16px, null, normal);
  @include mq(tablet) {
    padding: 12px 0px 12px 60px;
    font-size: 20px;
  }
  @include mq(desktop) {
    padding: 7px 0px 7px 100px;
    font-size: 28px;
  }
}

.schedule__list {
  padding-left: 48px;
  line-height: normal;
  @include mq(tablet) {
    font-size: 20px;
    padding-left: 60px;
  }
  @include mq(tablet) {
    font-size: 28px;
    padding-left: 100px;
  }
}

.schedule__item:not(:last-child) {
  margin-bottom: 12px;
  @include mq(tablet) {
    margin-bottom: 16px;
  }
}

.tour-price {
  text-align: center;
  color: $secondBlackColor;
  @include font($thirdFontWeight, 16px, null, normal);
  @include mq(tablet) {
    font-size: 20px;
  }
  @include mq(tablet) {
    font-size: 24px;
  }
}
